---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Compra y aprovecha las ofertas de hoy"
    url="https://www.facebook.com/extintorrisaralda/"
  />

  <HeroSection
    title=`Seguridad Confiable en Risaralda <span
        class="text-yellow-500 dark:text-yellow-400">Elige Extintores Risaralda.</span>`
    subTitle="Tranquilidad en Cada Espacio. Extintores Certificados y un Servicio en el que Puedes Confiar."
    primaryBtn="Explora los productos"
    primaryBtnURL="/products"
    secondaryBtn="Ordena ya"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=` De más de <span class="font-bold">12.8k</span> Reseñas`
    src={heroImage}
    alt="Stack of Extintoresdelrisaralda product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Líderes de la industria"
    subTitle="Distribuyendo extintores de confianza desde el 2009."
    partners={partnersData}
  />


  <FeaturesNavs
    title=`¿Olor a quemado en la mañana? <span class="text-yellow-500 dark:text-yellow-400">Quizás es tu tostadora</span>... o tu futuro sin este extintor.`
    tabs={[
      {
        heading: "Protección de Vidas y Bienes",
        content:
          "La principal ventaja de un extintor es la protección que ofrece. En situaciones de emergencia, un extintor accesible y funcional puede marcar la diferencia entre una evacuación segura y una tragedia.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intervención Temprana y Control del Fuego",
        content:
          "Un buen extintor permite una respuesta rápida y efectiva ante un conato de incendio. Al actuar en los primeros momentos, se puede sofocar las llamas antes de que se propaguen y causen daños mayores, lesiones o incluso la pérdida de vidas.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Cumplimiento Normativo y Prevención de Sanciones",
        content:
          "En muchos lugares y para diversos tipos de establecimientos (comerciales, industriales, etc.), contar con extintores adecuados y en buen estado es un requisito legal. Un buen extintor, junto con el mantenimiento apropiado, asegura el cumplimiento de estas normativas, evitando posibles multas o sanciones y demostrando un compromiso con la seguridad",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Por que escogernos?"
    subTitle="Mas que una empresa; una maquina de confianza."
    ;
    testimonials={[
      {
        content:
          "Extintores que cumplen con las normativas vigentes y están diseñados para funcionar eficazmente en el momento crítico",
        author: "Productos Certificados y de Calidad",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "Asesoramiento Profesional Personalizado",
      },
      {
        count: "35%",
        description:
          "Servicio Integral Post-Venta",
      },
      {
        count: "95.3%",
        description:
          "Compromiso con la Seguridad en Risaralda",
      },
      {
        count: "2x",
        description: "efectividad garantizada",
      },
    ]}
  />


  
</MainLayout>
